@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.uys img {
  width: 100%;
  height: 36em;
  object-fit: cover;
}

.uys p {
  margin-top: -28em;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.uys h4 {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
}

.destaque {
  border-bottom: 5px solid #6867ac;
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 48px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-wrap: nowrap;
  width: 100px;
}

.enjoy h3 {
  margin-top: 3em;
  text-align: center;
  font-family: "Work Sans";
  color: #fff;
  font-size: 20px;
  /* font-style: normal; */
  font-weight: 300;
}

.register {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.information {
  display: flex;
  justify-content: center;
  /* margin-top: 4.9em; */
  background: #fff5f8;
}

.information img {
  padding-top: 4.8em;
  width: 100%;
  height: 34em;
}

.info {
  margin: 9em;
}

.sunshade {
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
  margin-left: -4em;
  flex-direction: column;
}

.sunshade h1 {
  color: #000000de;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.8px;
  text-transform: uppercase;
}

.sunshade h2 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  width: 270px;
  height: 160px;
  margin-top: 1.5em;
  margin-left: -1em;
  /* text-wrap: nowrap; */
  /* margin-top: 3em; */
  /* line-height: 26.68px; 133.4% */
}

.definition {
}
